.octocat {
    width: 30%;
    display: inline-block;
    border: solid 1px #D3D3D3;
}

img {
  max-width: 100%;
  display: inline-block;
}


.image-footer {
  display: block;
  padding-bottom: 14px;
  border-bottom: solid 1px #D3D3D3;

}

.image-number {
  display: inline-block;
  float: left;
  font-size: x-small;
}

/*Christopher helped me with the .image-caption a coding*/
.image-caption a {
  color: black;
  font-weight: bold;
}

.image-caption {
  padding: 0%;
  max-width: 100%;
  font-size: x-small;
  float: right;
  image-caption: auto;
}

.authors  {
  list-style: none;
  float: right;
  padding: 0%;
  display: inline;
      }

.authors img {
  width: 1em;
}

/*Christopher helped me with the .image-number::before coding*/
.image-number::before {
  content: "#";
  color: #777777;
}
